<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:font-family="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RNG App: projects</title>
</head>
<body>
<main>
<center>
    <label action="#" th:actions="@{/}" th:object="${RandNum}" font-family: monospace>Number:
        <p type="text" th:text="*{value}" font-family: monospace></p>
    </label>

    <input  font-family: monospace type="button" value="Reload" onClick="location.reload();" />
</center>
</main>
</body>
</html>