<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>RNG App: projects</title>
    </head>
    <body>
        <main>
            <center>
                <form action="#" method="get" th:action="@{/}" th:object="${RandNum}">
                    <p>
                        Number:
                        <label th:text="*{value}"></label>
                    </p>

                    <p>
                        Min:
                        <input name="min" th:value="*{low}" type="text"/>
                    </p>

                    <p>
                        Max:
                        <input name="max" th:value="*{high}" type="text"/>
                    </p>
                    <input type="submit" id="ReloadButton" value="Reload" onClick="location.reload();" />
                </form>
            </center>
        </main>
        <script type="text/javascript" th:src="@{/js/src/index.js}"></script>
    </body>
</html>